/* General Styles */
body {
    font-family: 'Garamond', serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* Header Styles */
header {
    background-color: #203024;
    color: white;
    padding: 20px 0;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: center;
    color: cream;
    text-decoration: none;
    font-weight: bold;
}

.profile-photo {
    border-radius: 50%;
    margin-right: 20px;
    width: 150px;
    height: 150px;
}

h1 {
    margin: 0;
}

/* Navigation Styles */
nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: rgb(240, 255, 255);
    text-decoration: none;
    font-weight: bold;
}

/* Section Styles */
section {
    margin: 20px;
    padding: 20px;
    background-color: rgb(135,174,144);
    border-radius: 8px;
}

/* Footer Styles */
footer {
    text-align: center;
    padding: 10px;
    background-color: #203024;
    color:  rgb(135,174,144);
    position: fixed;
    bottom: 0;
    width: 100%;
}
